<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>JH Getränke App</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
  <link rel="stylesheet" href="https://getraenkeapp.goetz01.de/static/main.css">
</head>



<body>  
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">

      {{!-- Img must be hosted at seperate location --}}
      <img src="https://getraenkeapp.goetz01.de/static/arrows.png" alt="#" href="/">
      <a class="navbar-brand" href="/">JH Getränke App</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/admin/">Admin</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/admin/usermanagement/">Usermanagement</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/admin/drinkmanagement/">Drinkmanagement</a>
          </li>
        </ul>


        <form class="d-flex" method="POST" action="/admin/usermanagement/" novalidate>
          <input class="form-control me-2" type="search" placeholder="Benutzer suchen" name="search" aria-label="Search">
          <button class="btn btn-outline-light" type="submit">Suchen</button>
        </form>

      </div>
    </div>
  </nav>

  <div class="container pt-5 pb-5">
      {{{body}}}
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
    crossorigin="anonymous"></script>
</body>
</html>