<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>JH Getränke App</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
</head>



<body>

  <style type="text/css">
    body{
      background-color: black;
      color: white;
    }

    .btn, .btn-primary, .btn-lg {
      background-color: rgba(255, 255, 255, 15%);
      border-color: rgba(255, 255, 255, 15%);
      transition-duration: 100ms;
    }

    .btn:hover, .btn-primary:hover, .btn-lg:hover, .btn:focus, .btn-primary:focus, .btn-lg:focus{
      background-color: rgba(255, 255, 255, 20%);
      border-color: rgba(255, 255, 255, 20%);
    }

    h2 {
      background-image:linear-gradient(45deg, aqua, rgba(66, 103, 216, 0.726));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 30px;
    }

    h1 {
      background-image:linear-gradient(45deg, aqua, rgba(66, 103, 216, 0.726));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 40px;
      font-weight: bold;
    }

    p {
      font-size: 35px;
      font-weight: bold;
      line-height: 40px;
      background-image:linear-gradient(45deg, aqua, rgba(66, 103, 216, 0.726));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    th, td {
      color: white;
    }

    img {
      width: 75px;
    }

    .form-control {
      background-color: rgba(255, 255, 255, 20%);
      border-color: rgba(255, 255, 255, 30%);
      color: white;
    }

    .form-control:hover, .form-control:focus, .form-control:active, .form-control:active {
      background-color: rgba(255, 255, 255, 30%);
      border-color: rgba(255, 255, 255, 30%);
      color: white;
    }

  </style>
  
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">

      {{!-- Img must be hosted at seperate location --}}
      {{!-- <img src="http://localhost/arrows.png" alt="#" href="/"> --}}
      <a class="navbar-brand" href="/">JH Getränke App</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/admin/">Admin</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/admin/usermanagement/">Usermanagement</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/admin/drinkmanagement/">Drinkmanagement</a>
          </li>
        </ul>


        <form class="d-flex" method="POST" action="/admin/usermanagement/" novalidate>
          <input class="form-control me-2" type="search" placeholder="Benutzer suchen" name="search" aria-label="Search">
          <button class="btn btn-outline-light" type="submit">Suchen</button>
        </form>

      </div>
    </div>
  </nav>

  <div class="container pt-5 pb-5">
      {{{body}}}
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
    crossorigin="anonymous"></script>
</body>
</html>