<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Admin</li>
  </ol>
</nav>

<h1>Admin Page</h1>

<button type="button" class="btn btn-primary btn-lg" style="height: 400px; width: 400px;" onclick="window.location.href='/admin/usermanagement/'"><h2>Usermanagement</h2></button>
<button type="button" class="btn btn-primary btn-lg" style="height: 400px; width: 400px;" onclick="window.location.href='/admin/drinkmanagement/'"><h2>Drinkmanagement</h2></button>